<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Regen Morgen?</title>
</head>
<body>
    <div class="rainOnMe">
        <h1>Regen Morgen?</h1>
        <form action="/regen">
            <input type="text" name="location" required id="locationText" placeholder="Stadt eingeben..."/><br>
            <input type="submit" value="Morgen regen?" id="locationSubmit"/>
        </form>
    </div>
</body>